[submodule "linux"]
	path = linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "nushell"]
	path = nushell
	url = https://github.com/nushell/nushell
[submodule "zen"]
	path = zen
	url = https://github.com/iho/zen.git
[submodule "buildroot"]
	path = buildroot
	url = https://gitlab.com/buildroot.org/buildroot.git
