[submodule "busybox"]
	path = busybox
	url = git://git.busybox.net/busybox
[submodule "linux"]
	path = linux
	url = git://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
[submodule "nushell"]
	path = nushell
	url = https://github.com/nushell/nushell
[submodule "zlib-source"]
	path = zlib-source
	url = https://github.com/madler/zlib.git
[submodule "git-source"]
	path = git-source
	url = https://github.com/git/git.git
[submodule "zen"]
	path = zen
	url = https://github.com/iho/zen.git
[submodule "seatd"]
	path = seatd
	url = https://github.com/kennylevinsen/seatd.git
[submodule "libinput"]
	path = libinput
	url = https://gitlab.freedesktop.org/libinput/libinput.git
[submodule "wayland"]
	path = wayland
	url = https://gitlab.freedesktop.org/wayland/wayland.git
[submodule "wayland-protocols"]
	path = wayland-protocols
	url = https://gitlab.freedesktop.org/wayland/wayland-protocols.git
[submodule "libdrm"]
	path = libdrm
	url = https://gitlab.freedesktop.org/mesa/drm.git
[submodule "libxkbcommon"]
	path = libxkbcommon
	url = https://github.com/xkbcommon/libxkbcommon.git
[submodule "libevdev"]
	path = libevdev
	url = https://gitlab.freedesktop.org/libevdev/libevdev.git
[submodule "mtdev"]
	path = mtdev
	url = https://github.com/rydberg/mtdev.git
[submodule "libffi"]
	path = libffi
	url = https://github.com/libffi/libffi.git
[submodule "libexpat"]
	path = libexpat
	url = https://github.com/libexpat/libexpat.git
[submodule "libxml2"]
	path = libxml2
	url = https://gitlab.gnome.org/GNOME/libxml2.git
[submodule "eudev"]
	path = eudev
	url = https://github.com/eudev-project/eudev.git
[submodule "gperf"]
	path = gperf
	url = https://git.savannah.gnu.org/git/gperf.git
[submodule "mesa"]
	path = mesa
	url = https://gitlab.freedesktop.org/mesa/mesa.git
[submodule "pixman"]
	path = pixman
	url = https://gitlab.freedesktop.org/pixman/pixman.git
[submodule "python"]
	path = python
	url = https://github.com/python/cpython.git
[submodule "MarkupSafe"]
	path = MarkupSafe
	url = https://github.com/pallets/markupsafe.git
[submodule "Mako"]
	path = Mako
	url = https://github.com/sqlalchemy/mako.git
[submodule "PyYAML"]
	path = PyYAML
	url = https://github.com/yaml/pyyaml.git
[submodule "ply"]
	path = ply
	url = https://github.com/dabeaz/ply.git
[submodule "freetype"]
	path = freetype
	url = https://gitlab.freedesktop.org/freetype/freetype.git
[submodule "fontconfig"]
	path = fontconfig
	url = https://gitlab.freedesktop.org/fontconfig/fontconfig.git
[submodule "alacritty"]
	path = alacritty
	url = git@github.com:alacritty/alacritty.git
